<form method="post" action="{% url 'projects:project_update' form.instance.pk %}" class="js-project-update-form">
  {% csrf_token %}
  {% include 'projects/includes/partial_modal.html' %}
  <div class="modal-footer d-flex justify-content-between">
    <button type="button" class="btn btn-danger js-delete-project" data-url="{% url 'projects:project_delete' form.instance.pk %}">
      Delete
    </button>
    <div class="">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <button type="submit" class="btn btn-primary">
        Update
      </button>
    </div>
  </div>
</form>