{% load humanize %}


<div id="accordion" class="mt-4">
  {% for project in projects %}
    <div class="card">
      <div class="card-header btn" id="heading{{ forloop.counter }}" data-toggle="collapse" data-target="#collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse{{ forloop.counter }}">
        
        <div class="d-flex justify-content-between ">
          <div class="col col-md-4 text-left">
            <h5 class="mb-0">
              <button class="btn btn-outline-dark js-update-project" data-url="{% url 'projects:project_update' project.id %}">
                {{ project.name }}
              </button>
            </h5>
          </div>
          <div class="col col-md-4 ">
            <p>
              {% if project.is_tasklist_empty %}
                <strong class="text-primary">No associated tasks</strong>
              {% endif %}
              {% if project.get_due_soon_tasks %}
                <strong class="text-warning"> {{ project.get_due_soon_tasks.count }} task(s) due soon.</strong>
              {% endif %}
              {% if project.get_overdue_tasks %}
                <strong class="text-danger"> {{ project.get_overdue_tasks.count }} overdue task(s).</strong>
              {% endif %}
            </p>
          </div>
          <div class="col col-md-4 text-right">
            {% for tag in project.tags.all %}
              <a class="badge badge-pill badge-info ">{{ tag }}</a>  
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <!-- Task lists -->
    <div id="collapse{{ forloop.counter }}" class="collapse collapsable" aria-labelledby="heading{{ forloop.counter }}">
      <div class="card-body">
        {% if project.task_set.all %}
        <div class="container">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Task</th>
                <th scope="col">Due Date</th>
                <th scope="col">Done</th>
              </tr>
            </thead>
            <tbody>
              {% for task in project.task_set.all %} 
                {% if task.completed_recently or not task.completed %}
                  <tr class="{% if task.is_overdue %}overdue{% elif task.due_soon %}due_soon{% endif %}">
                    <td>
                      <p class="{% if task.completed %}
                                  strikethrough
                                {% elif task.is_overdue %}
                                  font-weight-bold text-danger
                                {% endif %}"> 
                        <a href="#" class="js-update-task text-dark" data-url="{% url 'projects:task_update' task.id %}">{{ task }}</a>
                      </p>
                      </td>
                    <td>
                        {% if task.due_date %}
                          <p class="{% if task.completed %}
                                      strikethrough
                                    {% elif task.is_overdue %}
                                      font-weight-bold
                                    {% endif %}">
                            {{ task.due_date|naturaltime  }}
                          </p>
                        {% endif %}
                      </td>
                    <td><button class="btn js-completed-toggle 
                                      {% if task.completed %}
                                        btn-warning glow font-weight-bold text-white
                                      {% else %}
                                        btn-success 
                                      {% endif %}" data-url={% url 'projects:task_toggle' task.id %}>Done</button></td>
                  </tr>
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% else %}
          <p>No tasks found</p>
        {% endif %}
        <a href="#" class="js-create-task" data-url="{% url 'projects:task_create' project.id %}" data-proj-id={{ project.id }}>Add new task</a>
        <br>
        <div class="d-flex justify-content-between">
        </div>
      </div>
    </div>
  {% endfor %}
</div>